.popup__input-error {
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  color: #ff0000;
  border-top: 1px solid #ff0000;
  width: 100%;
  opacity: 0;
}
