.popup__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  font-weight: 900;
}

@media (max-width: 570px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 45px;
  }
}
