.auth__form{
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 0 auto;
  margin-top: 20px;
}

@media (max-width: 480px){
  .auth__form{
    max-width: 230px;
    overflow: hidden;
    align-items: center;
  }
}