.footer__text{
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media (max-width: 900px){
  .footer__text{
    text-align: center;
  }
}

@media (max-width: 480px){
  .footer__text{
    font-size: 14px;
    line-height: 17px;
    display: block;
    margin: 0 auto;
    width: 282px;
  }
}