.profile__title {
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media (max-width: 550px) {
  .profile__title {
    max-width: 242px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
