.footer {
  margin-top: 66px;
  margin-bottom: 60px;
}

@media (max-width: 900px) {
  .footer {
    padding: 0 19px;
  }
}

@media (max-width: 480px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
    padding: 0;
  }
}
