.profile__button_avatar{
  padding: 0;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.profile__button_avatar::before{
  content: "";
  display: block;
  background-color: #000;
  position: absolute;
  transition: opacity .3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.profile__button_avatar:hover::before{
  background-image: url(../../../../images/avatar-edit.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
}