.popup__btn {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  background: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.popup__btn:hover {
  opacity: 0.8;
}

@media (max-width: 570px) {
  .popup__btn {
    margin-top: 45px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
