.header__burger-menu{
  height: 24px;
  display: none;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__burger-menu:hover{
  opacity: 0.6;
}

@media (max-width: 480px) {
  .header__burger-menu{
    display: flex;
    margin-right: 30px;
  }
}