@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner__animation {
  position: absolute;
  animation: loading 0.65s linear infinite;
  width: 168.79999999999998px;
  height: 168.79999999999998px;
  top: 21.099999999999998px;
  left: 21.099999999999998px;
  border-radius: 50%;
  box-shadow: 0 7.8069999999999995px 0 0 #ffffff;
  transform-origin: 84.39999999999999px 88.3035px;
  box-sizing: content-box;
}
