.auth__block_link{
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 15px;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.auth__block_link:hover{
  opacity: 0.6;
}