.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  grid-auto-columns: 282px;
  grid-auto-rows: 361px;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
}
