.header_columned {
  flex-direction: column-reverse;
  min-height: unset;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0 0;
  width: 100%;
}

@media (max-width: 480px) {
  .header_columned {
    margin-bottom: 0;
  }
}
