.auth__input {
  color: #ffffff;
  background-color: #000;
  border: none;
  margin-top: 30px;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 13px;
  outline: none;
}

.auth__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}
